@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url("/src/assets/danBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.btn {
  background: linear-gradient(
    92.23deg,
    #005fd3,
  #4CDB88
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #4CDB88,
    #005fd3,
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #005fd3,
    #4CDB88
  );
  box-shadow: 0px 0px 40px rgba(255, 255, 255,0.8);
}
.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
  transition: all 0.3s;

}

@layer base {
  body {
    background-image: url("/src/assets/danBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .section {
    @apply flex items-center py-8 lg:py-24 lg:h-screen;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply font-medium text-white rounded-full font-primary;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#0073ff] to-[#4CDB88] font-bold font-primary hover:from-[#4CDB88] hover:to-[#42A6E3];
  }
  .section {
    @apply flex items-center py-8 lg:py-24 lg:h-screen;
  }
}
